<div class="home-container">
  @if (profile()) {
    <app-hero
      [profile]="profile()!"
      [linkedInLink]="linkedInLink()"
      (profileFieldChange)="onProfileFieldChange($event.field, $event.value)"
      (avatarChange)="onAvatarChange($event)"
    />
    <app-about
      [profile]="profile()!"
      (profileFieldChange)="onProfileFieldChange($event.field, $event.value)"
    />
  }

  @if (skills().length > 0) {
    <app-resume
      [softSkills]="softSkills()"
      [hardSkills]="hardSkills()"
      [badges]="badges()"
    />
  }

  @if (projects().length > 0) {
    <app-portfolio
      [projects]="projects()"
    />
  }

  <div class="end-of-page-lock">
    <app-contact
      [profile]="profile()"
      [socialLinks]="socialLinks()"
    />

    <app-footer />
  </div>
</div>
